.title{
    float: right;
    cursor: pointer;
    background-color: #888585;;
    height: 11vmin;;
    border: 2px solid #fff;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 8vmin;
    line-height: 8vmin;
    font-weight: bold;
    box-sizing: content-box;
}

.title:hover{
    background-color: #BBBBBB
}

body{
    background-color: #F1F1F1;
    min-width: 800px;
    min-height: 600px;
}

.wrapper {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.endGame {
    text-align: center;
    position: relative;
}

.startScreen{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.settings{
    position: absolute;
    top: 25%;
    left: 45%;
    right: 45%;
}

.restartBtn{
    position: absolute;
    top: 25%;
    left: 45%;
    right: 45%;
    height: 40px;
    width: 174px;
    font-size: 25px;
}

.startBtn{
    position: relative;
    top: 10px;
    height: 40px;
    width: 174px;
    font-size: 25px;
}